footer {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    p{
        color: nth($color , 1);
        font-family: "poppins", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0;
    }
    .footer__redes{
        display: flex;
        gap: 30px;
        a{
            color: nth($color , 1);
            font-size: 1.5rem;
            &:hover {
                color: #ffb30e;
            
        }
        }
    }
}