.nosotros {
    @include flex(flex,space-around,center,column);
    padding: 90px 20px;
    height: 100vh;
    .nosotros_cerveceria {
        @include flex(flex,space-around,center,row);
        p {
            color: nth($color, 1);
            font-size: 1rem;
            @extend %font;
            width: 50%;
            font-weight: 400;
            text-align: center;
        }
        .nosotros_img {
            width: 500px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }
    .nosotros_clientes {
        @include flex(flex,space-around,center,row-reverse);
        p {
            color: nth($color , 1);
            font-size: 1rem;
            @extend %font;
            width: 50%;
            font-weight: 400;
            text-align: center;
        }
        .nosotros_img {
            width: 500px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }
}