/***** mediaQuery ******/

@media (max-width:1300px) {
    .hero_img {
        width: 500px;
    }

    .container_cards {
        flex-wrap: wrap;
    }

    .clients {
        height: 100vh;
    }

    .clients .container_cards_2 {
        display: none;
    }

    .nosotros .nosotros_cerveceria .nosotros_img {
        width: 500px;
    }

    .nosotros .nosotros_clientes .nosotros_img {
        width: 500px;
    }

}

@media (max-width:1100px) {
    .products h1 {
        font-size: 2rem;
    }
    .nosotros .nosotros_cerveceria .nosotros_img {
        width: 500px;
    }

    .nosotros .nosotros_clientes .nosotros_img {
        width: 500px;
    }

    .nosotros_cerveceria p{
        font-size: 1.2rem;
    }

    .nosotros_clientes p {
        font-size: 1.2rem;
    }
}

@media (max-width:992px) {
    .hero {
        gap: 20px;
        height: calc(700px - 60px);
        justify-content: center;
    }

    .hero .hero_img {
        width:400px
    }

    .hero p {
        font-size: 1rem;
    }

    .nosotros .nosotros_cerveceria .nosotros_img {
        width:400px
    }
    .nosotros_cerveceria {
        gap: 20px;
    }

    .nosotros .nosotros_clientes .nosotros_img {
        width:400px
    }

    .nosotros_clientes {
        gap: 20px;
    }

    .nosotros .nosotros_cerveceria p {
        font-size: 1rem;
        width: 100%;
    }

    .nosotros .nosotros_clientes p {
        font-size: 1rem;
        width: 100%;
    }

    .contact h1 {
        padding: 30px 0 0 0;
    }

    .card {
        width: 350px;
        height: 200px;
    }
    
    .card p {
        width: 100%;
        font-family: "poppins",sans-serif;
        text-align: center;
        font-size: 0.5rem;
    }


    // .clients {
    //     padding: 0;
    //     height: 100vh;
    // }

    .clients h1 {
        display: flex;
    }

    .container_cards {
        gap: 10px;
        height: calc(100% - 200px);
    }
}

@media (max-width:768px) {
    .hero {
        flex-direction: column;
    }
    
    .hero p {
        width: 70%;
    }

    .menu h1 {
        font-size: 2rem;
    }

    .products h1 {
        font-size: 1.5rem;
    }

    .nosotros .nosotros_cerveceria {
        flex-direction: column-reverse;
    }

    .nosotros .nosotros_cerveceria .nosotros_img {
        width: 300px;
    }

    .nosotros .nosotros_clientes .nosotros_img {
        width: 300px;
    }

    .nosotros .nosotros_clientes {
        flex-direction: column-reverse;
    }

    .nosotros .nosotros_cerveceria p {
        width: 100%;
        font-size: 0.8rem;
    }

    .nosotros .nosotros_clientes p {
        width: 100%;
        font-size: 0.8rem;
    }

    .clients .container_cards {
        margin: 20px 0;
    }

    .contact h1 {
        padding: 30px 0 0 0;
        font-size: 2rem;
    }

    .products .container_products .img_2 { 
        grid-row: 1/3;
        object-fit: cover;
    }

    .clients h1 {
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin: 0;
    }

    .footer__redes {
        gap: 10px;
    }

    .footer__redes a {
        font-size: 1.5rem;
    }

    .products .container_products {
        grid-template-columns:repeat(1,1fr);
    }

}

@media (max-width:576px) {
    
    .hero p {
        width: 90%;
        
    }

    .products h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .products .container_products .img_2 { 
        grid-row: 1;
        object-fit: cover;
    }

    .products .container_products .img_4 {
        grid-column: 1;
        object-fit: cover;
    }

    .container_contact iframe{
        width: 400px;
        height: 200px;
    }

    .contact .container_contact form {
        padding: 10px;
    }

    .clients h1 {
        font-size: 1.2rem;
    }

    .nosotros_cerveceria p {
        font-size: 1rem;
    }

    .nosotros_clientes p {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {

    .hero .hero_img {
        width: 300px;
    }

    .hero p {
        width:85%;
        text-align: center;
        line-height: 1.2;
    }

    .menu h1 {
        font-size: 1.7rem;
    }

    .nosotros .nosotros_cerveceria p {
        font-size: 0.7rem;
        font-weight: 700;
    }

    .nosotros .nosotros_clientes p {
        font-size: 0.7rem;
        font-weight: 700;
    }

    .nosotros .nosotros_cerveceria .nosotros_img {
        width: 200px;
    }

    .nosotros .nosotros_clientes .nosotros_img {
        width: 200px;
    }

    footer p {
        font-size: 0.6rem;
    }

    .products .container_products {
        padding: 0 10px;
    }

    .contact h1 {
        font-size: 1.5rem;
    }

    // .contact .container_contact form {
    //     padding: 10px;
    // }

    form {
        padding: 10px;
    }


    .contact .container_contact iframe {
        width: 300px;
    }


    .clients .container_cards .card  {
    width: 300px;
}

.clients .container_cards .card p {
    font-size: 0.9rem;
}
.products h1 {
    font-weight: 900;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}
}